step_function/state_machine/BedrockInvokeModelAmazonImageTextImage.json
{
    "StartAt": "InputCheckInput",
    "States": {
        "InputCheckInput": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CheckInputAccountId",
                    "States": {
                        "CheckInputAccountId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.accountId",
                                    "IsPresent": true,
                                    "Next": "PassInputAccountId"
                                }
                            ],
                            "Default": "DefaultInputAccountId"
                        },
                        "PassInputAccountId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.accountId "
                        },
                        "DefaultInputAccountId": {
                            "Type": "Pass",
                            "Parameters": {
                                "accountId": null
                            },
                            "Next": "PassInputAccountId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputApiId",
                    "States": {
                        "CheckInputApiId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.apiId",
                                    "IsPresent": true,
                                    "Next": "PassInputApiId"
                                }
                            ],
                            "Default": "DefaultInputApiId"
                        },
                        "PassInputApiId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.apiId"
                        },
                        "DefaultInputApiId": {
                            "Type": "Pass",
                            "Parameters": {
                                "apiId": null
                            },
                            "Next": "PassInputApiId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputAuthorizer",
                    "States": {
                        "CheckInputAuthorizer": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.authorizer",
                                    "IsPresent": true,
                                    "Next": "PassInputAuthorizer"
                                }
                            ],
                            "Default": "DefaultInputAuthorizer"
                        },
                        "PassInputAuthorizer": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.authorizer"
                        },
                        "DefaultInputAuthorizer": {
                            "Type": "Pass",
                            "Parameters": {
                                "Authorizer": null
                            },
                            "Next": "PassInputAuthorizer"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputAwsEndpointRequestId",
                    "States": {
                        "CheckInputAwsEndpointRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.awsEndpointRequestId",
                                    "IsPresent": true,
                                    "Next": "PassInputAwsEndpointRequestId"
                                }
                            ],
                            "Default": "DefaultInputAwsEndpointRequestId"
                        },
                        "PassInputAwsEndpointRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.awsEndpointRequestId"
                        },
                        "DefaultInputAwsEndpointRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "AwsEndpointRequestId": null
                            },
                            "Next": "PassInputAwsEndpointRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputBody",
                    "States": {
                        "CheckInputBody": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.body",
                                    "IsPresent": true,
                                    "Next": "ParallelCheckInputBody"
                                }
                            ],
                            "Default": "DefaultInputBody"
                        },
                        "ParallelCheckInputBody": {
                            "Type": "Parallel",
                            "Branches": [
                                {
                                    "StartAt": "CheckInputBodyImageGenerationConfig",
                                    "States": {
                                        "CheckInputBodyImageGenerationConfig": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.imageGenerationConfig",
                                                    "IsPresent": true,
                                                    "Next": "ParallelCheckInputBodyImageGenerationConfig"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyImageGenerationConfig"
                                        },
                                        "ParallelCheckInputBodyImageGenerationConfig": {
                                            "Type": "Parallel",
                                            "Branches": [
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigCfgScale",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigCfgScale": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.cfgScale",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyImageGenerationConfigCfgScaleValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigCfgScale"
                                                        },
                                                        "CheckInputBodyImageGenerationConfigCfgScaleValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 1.1
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 10
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigCfgScaleValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigCfgScaleValue",
                                                            "InputPath": "$.cfgScale"
                                                        },
                                                        "PassInputBodyImageGenerationConfigCfgScaleValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigCfgScaleValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 1.1
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigCfgScale": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyImageGenerationConfigCfgScaleValue",
                                                            "Parameters": {
                                                                "cfgScale": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigHeight",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigHeight": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.height",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyImageGenerationConfigHeightValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigHeight"
                                                        },
                                                        "CheckInputBodyImageGenerationConfigHeightValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 320
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 1408
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigHeightValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigHeightValue",
                                                            "InputPath": "$.height"
                                                        },
                                                        "PassInputBodyImageGenerationConfigHeightValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigHeightValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 320
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigHeight": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyImageGenerationConfigHeightValue",
                                                            "Parameters": {
                                                                "height": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigNumberOfImages",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigNumberOfImages": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.numberOfImages",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyImageGenerationConfigNumberOfImagesValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigNumberOfImages"
                                                        },
                                                        "CheckInputBodyImageGenerationConfigNumberOfImagesValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 1
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 5
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigNumberOfImagesValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigNumberOfImagesValue",
                                                            "InputPath": "$.numberOfImages"
                                                        },
                                                        "PassInputBodyImageGenerationConfigNumberOfImagesValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigNumberOfImagesValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 1
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigNumberOfImages": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyImageGenerationConfigNumberOfImagesValue",
                                                            "Parameters": {
                                                                "numberOfImages": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigSeed",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigSeed": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.seed",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyImageGenerationConfigSeedValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigSeed"
                                                        },
                                                        "CheckInputBodyImageGenerationConfigSeedValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 0
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 2147483646
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigSeedValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigSeedValue",
                                                            "InputPath": "$.seed"
                                                        },
                                                        "PassInputBodyImageGenerationConfigSeedValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigSeedValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 0
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigSeed": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyImageGenerationConfigSeedValue",
                                                            "Parameters": {
                                                                "seed": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigWidth",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigWidth": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.width",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyImageGenerationConfigWidthValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigWidth"
                                                        },
                                                        "CheckInputBodyImageGenerationConfigWidthValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 320
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 1408
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigWidthValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigWidthValue",
                                                            "InputPath": "$.width"
                                                        },
                                                        "PassInputBodyImageGenerationConfigWidthValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigWidthValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 320
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigWidth": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyImageGenerationConfigWidthValue",
                                                            "Parameters": {
                                                                "width": null
                                                            }
                                                        }
                                                    }
                                                }
                                            ],
                                            "InputPath": "$.imageGenerationConfig",
                                            "ResultSelector": {
                                                "cfgScale.$": "$[0]",
                                                "height.$": "$[1]",
                                                "numberOfImages.$": "$[2]",
                                                "seed.$": "$[3]",
                                                "width.$": "$[4]"
                                            },
                                            "End": true
                                        },
                                        "DefaultInputBodyImageGenerationConfig": {
                                            "Type": "Pass",
                                            "Parameters": {
                                                "imageGenerationConfig": {}
                                            },
                                            "Next": "ParallelCheckInputBodyImageGenerationConfig"
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckInputBodyModelId",
                                    "States": {
                                        "CheckInputBodyModelId": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "And": [
                                                        {
                                                            "Variable": "$.modelId",
                                                            "IsPresent": true
                                                        },
                                                        {
                                                            "Variable": "$.modelId",
                                                            "IsString": true
                                                        },
                                                        {
                                                            "And": [
                                                                {
                                                                    "Or": [
                                                                        {
                                                                            "Variable": "$.modelId",
                                                                            "StringEquals": "amazon.titan-image-generator-v1"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "Next": "PassInputBodyModelId"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyModelId"
                                        },
                                        "PassInputBodyModelId": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.modelId"
                                        },
                                        "DefaultInputBodyModelId": {
                                            "Type": "Pass",
                                            "Parameters": {
                                                "modelId": "amazon.titan-image-generator-v1"
                                            },
                                            "Next": "PassInputBodyModelId"
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckInputBodyTextToImageParams",
                                    "States": {
                                        "CheckInputBodyTextToImageParams": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.textToImageParams",
                                                    "IsPresent": true,
                                                    "Next": "ParallelCheckInputBodyTextToImageParams"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyTextToImageParams"
                                        },
                                        "ParallelCheckInputBodyTextToImageParams": {
                                            "Type": "Parallel",
                                            "End": true,
                                            "Branches": [
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsNegativeText",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsNegativeText": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Variable": "$.negativeText ",
                                                                            "IsPresent": true
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$.negativeText ",
                                                                                    "IsString": true
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsNegativeText"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsNegativeText"
                                                        },
                                                        "PassInputBodyTextToImageParamsNegativeText": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "InputPath": "$.negativeText"
                                                        },
                                                        "DefaultInputBodyTextToImageParamsNegativeText": {
                                                            "Type": "Pass",
                                                            "Next": "PassInputBodyTextToImageParamsNegativeText",
                                                            "Parameters": {
                                                                "negativeText": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsText",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsText": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Variable": "$.text",
                                                                            "IsPresent": true
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$.text",
                                                                                    "IsString": true
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsText"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsText"
                                                        },
                                                        "PassInputBodyTextToImageParamsText": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "InputPath": "$.text"
                                                        },
                                                        "DefaultInputBodyTextToImageParamsText": {
                                                            "Type": "Pass",
                                                            "Next": "PassInputBodyTextToImageParamsText",
                                                            "Parameters": {
                                                                "text": null
                                                            }
                                                        }
                                                    }
                                                }
                                            ],
                                            "InputPath": "$.textToImageParams",
                                            "ResultSelector": {
                                                "negativeText.$": "$[0]",
                                                "text.$": "$[1]"
                                            }
                                        },
                                        "DefaultInputBodyTextToImageParams": {
                                            "Type": "Pass",
                                            "Next": "ParallelCheckInputBodyTextToImageParams",
                                            "Parameters": {
                                                "textToImageParams": {}
                                            }
                                        }
                                    }
                                }
                            ],
                            "InputPath": "$.body",
                            "ResultSelector": {
                                "imageGenerationConfig.$": "$[0]",
                                "modelId.$": "$[1]",
                                "textToImageParams.$": "$[2]"
                            },
                            "End": true
                        },
                        "DefaultInputBody": {
                            "Type": "Pass",
                            "Next": "ParallelCheckInputBody",
                            "Parameters": {
                                "body": {}
                            }
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDeploymentId",
                    "States": {
                        "CheckInputDeploymentId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.deploymentId",
                                    "IsPresent": true,
                                    "Next": "PassInputDeploymentId"
                                }
                            ],
                            "Default": "DefaultInputDeploymentId"
                        },
                        "PassInputDeploymentId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.deploymentId"
                        },
                        "DefaultInputDeploymentId": {
                            "Type": "Pass",
                            "Parameters": {
                                "DeploymentId": null
                            },
                            "Next": "PassInputDeploymentId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDomainName",
                    "States": {
                        "CheckInputDomainName": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.domainName",
                                    "IsPresent": true,
                                    "Next": "PassInputDomainName"
                                }
                            ],
                            "Default": "DefaultInputDomainName"
                        },
                        "PassInputDomainName": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.domainName"
                        },
                        "DefaultInputDomainName": {
                            "Type": "Pass",
                            "Parameters": {
                                "DomainName": null
                            },
                            "Next": "PassInputDomainName"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDomainPrefix",
                    "States": {
                        "CheckInputDomainPrefix": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.domainPrefix",
                                    "IsPresent": true,
                                    "Next": "PassInputDomainPrefix"
                                }
                            ],
                            "Default": "DefaultInputDomainPrefix"
                        },
                        "PassInputDomainPrefix": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.domainPrefix"
                        },
                        "DefaultInputDomainPrefix": {
                            "Type": "Pass",
                            "Parameters": {
                                "DomainPrefix": null
                            },
                            "Next": "PassInputDomainPrefix"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputExtendedRequestId",
                    "States": {
                        "CheckInputExtendedRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.extendedRequestId",
                                    "IsPresent": true,
                                    "Next": "PassInputExtendedRequestId"
                                }
                            ],
                            "Default": "DefaultInputExtendedRequestId"
                        },
                        "PassInputExtendedRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.extendedRequestId"
                        },
                        "DefaultInputExtendedRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "ExtendedRequestId": null
                            },
                            "Next": "PassInputExtendedRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputHttpMethod",
                    "States": {
                        "CheckInputHttpMethod": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.httpMethod",
                                    "IsPresent": true,
                                    "Next": "PassInputHttpMethod"
                                }
                            ],
                            "Default": "DefaultInputHttpMethod"
                        },
                        "PassInputHttpMethod": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.httpMethod"
                        },
                        "DefaultInputHttpMethod": {
                            "Type": "Pass",
                            "Parameters": {
                                "HttpMethod": null
                            },
                            "Next": "PassInputHttpMethod"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputIdentity",
                    "States": {
                        "CheckInputIdentity": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.identity",
                                    "IsPresent": true,
                                    "Next": "PassInputIdentity"
                                }
                            ],
                            "Default": "DefaultInputIdentity"
                        },
                        "PassInputIdentity": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.identity"
                        },
                        "DefaultInputIdentity": {
                            "Type": "Pass",
                            "Parameters": {
                                "Identity": null
                            },
                            "Next": "PassInputIdentity"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputIsCanaryRequest",
                    "States": {
                        "CheckInputIsCanaryRequest": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.isCanaryRequest",
                                    "IsPresent": true,
                                    "Next": "PassInputIsCanaryRequest"
                                }
                            ],
                            "Default": "DefaultInputIsCanaryRequest"
                        },
                        "PassInputIsCanaryRequest": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.isCanaryRequest"
                        },
                        "DefaultInputIsCanaryRequest": {
                            "Type": "Pass",
                            "Parameters": {
                                "IsCanaryRequest": null
                            },
                            "Next": "PassInputIsCanaryRequest"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputPath",
                    "States": {
                        "CheckInputPath": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.path",
                                    "IsPresent": true,
                                    "Next": "PassInputPath"
                                }
                            ],
                            "Default": "DefaultInputPath"
                        },
                        "PassInputPath": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.path"
                        },
                        "DefaultInputPath": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputPath"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputProtocol",
                    "States": {
                        "CheckInputProtocol": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.protocol",
                                    "IsPresent": true,
                                    "Next": "PassInputProtocol"
                                }
                            ],
                            "Default": "DefaultInputProtocol"
                        },
                        "PassInputProtocol": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.protocol"
                        },
                        "DefaultInputProtocol": {
                            "Type": "Pass",
                            "Parameters": {
                                "Protocol": null
                            },
                            "Next": "PassInputProtocol"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestId",
                    "States": {
                        "CheckInputRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestId",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestId"
                                }
                            ],
                            "Default": "DefaultInputRequestId"
                        },
                        "PassInputRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestId"
                        },
                        "DefaultInputRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestId": null
                            },
                            "Next": "PassInputRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestOverride",
                    "States": {
                        "CheckInputRequestOverride": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestOverride",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestOverride"
                                }
                            ],
                            "Default": "DefaultInputRequestOverride"
                        },
                        "PassInputRequestOverride": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestOverride"
                        },
                        "DefaultInputRequestOverride": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestOverride": null
                            },
                            "Next": "PassInputRequestOverride"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestTime",
                    "States": {
                        "CheckInputRequestTime": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestTime",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestTime"
                                }
                            ],
                            "Default": "DefaultInputRequestTime"
                        },
                        "PassInputRequestTime": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestTime"
                        },
                        "DefaultInputRequestTime": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestTime": null
                            },
                            "Next": "PassInputRequestTime"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestTimeEpoch",
                    "States": {
                        "CheckInputRequestTimeEpoch": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestTimeEpoch",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestTimeEpoch"
                                }
                            ],
                            "Default": "DefaultInputRequestTimeEpoch"
                        },
                        "PassInputRequestTimeEpoch": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestTimeEpoch"
                        },
                        "DefaultInputRequestTimeEpoch": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestTimeEpoch": null
                            },
                            "Next": "PassInputRequestTimeEpoch"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputResourceId",
                    "States": {
                        "CheckInputResourceId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.resourceId",
                                    "IsPresent": true,
                                    "Next": "PassInputResourceId"
                                }
                            ],
                            "Default": "DefaultInputResourceId"
                        },
                        "PassInputResourceId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.resourceId"
                        },
                        "DefaultInputResourceId": {
                            "Type": "Pass",
                            "Parameters": {
                                "ResourceId": null
                            },
                            "Next": "PassInputResourceId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputResourcePath",
                    "States": {
                        "CheckInputResourcePath": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.resourcePath",
                                    "IsPresent": true,
                                    "Next": "PassInputResourcePath"
                                }
                            ],
                            "Default": "DefaultInputResourcePath"
                        },
                        "PassInputResourcePath": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.resourcePath"
                        },
                        "DefaultInputResourcePath": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputResourcePath"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputStage",
                    "States": {
                        "CheckInputStage": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.stage",
                                    "IsPresent": true,
                                    "Next": "PassInputStage"
                                }
                            ],
                            "Default": "DefaultInputStage"
                        },
                        "PassInputStage": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.stage"
                        },
                        "DefaultInputStage": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputStage"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputWafResponseCode",
                    "States": {
                        "CheckInputWafResponseCode": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.wafResponseCode",
                                    "IsPresent": true,
                                    "Next": "PassInputWafResponseCode"
                                }
                            ],
                            "Default": "DefaultInputWafResponseCode"
                        },
                        "PassInputWafResponseCode": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.wafResponseCode"
                        },
                        "DefaultInputWafResponseCode": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputWafResponseCode"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputWebAclArn",
                    "States": {
                        "CheckInputWebAclArn": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.webaclArn",
                                    "IsPresent": true,
                                    "Next": "PassInputWebAclArn"
                                }
                            ],
                            "Default": "DefaultInputWebAclArn"
                        },
                        "PassInputWebAclArn": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.webaclArn"
                        },
                        "DefaultInputWebAclArn": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputWebAclArn"
                        }
                    }
                }
            ],
            "Next": "LambdaInvokeBedrockAmazonImageTextImage",
            "ResultSelector": {
                "accountId.$": "$[0]",
                "apiId.$": "$[1]",
                "authorizer.$": "$[2]",
                "awsEndpointRequestId.$": "$[3]",
                "body.$": "$[4]",
                "deploymentId.$": "$[5]",
                "domainName.$": "$[6]",
                "domainPrefix.$": "$[7]",
                "extendedRequestId.$": "$[8]",
                "httpMethod.$": "$[9]",
                "identity.$": "$[10]",
                "isCanaryRequest.$": "$[11]",
                "path.$": "$[12]",
                "protocol.$": "$[13]",
                "requestId.$": "$[14]",
                "requestOverride.$": "$[15]",
                "requestTime.$": "$[16]",
                "requestTimeEpoch.$": "$[17]",
                "resourceId.$": "$[18]",
                "resourcePath.$": "$[19]",
                "stage.$": "$[20]",
                "wafResponseCode.$": "$[21]",
                "webaclArn.$": "$[22]"
            }
        },
        "LambdaInvokeBedrockAmazonImageTextImage": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
                "FunctionName": "${aws_lambda_function_arn}:${aws_lambda_alias_function_version}",
                "Payload.$": "$"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ],
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}
