step_function/state_machine/BedrockInvokeModelAmazonImageTextImage.json
{
    "StartAt": "InputCheckInput",
    "States": {
        "InputCheckInput": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "CheckInputAccountId",
                    "States": {
                        "CheckInputAccountId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.accountId",
                                    "IsPresent": true,
                                    "Next": "PassInputAccountId"
                                }
                            ],
                            "Default": "DefaultInputAccountId"
                        },
                        "PassInputAccountId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.accountId "
                        },
                        "DefaultInputAccountId": {
                            "Type": "Pass",
                            "Parameters": {
                                "accountId": null
                            },
                            "Next": "PassInputAccountId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputApiId",
                    "States": {
                        "CheckInputApiId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.apiId",
                                    "IsPresent": true,
                                    "Next": "PassInputApiId"
                                }
                            ],
                            "Default": "DefaultInputApiId"
                        },
                        "PassInputApiId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.apiId"
                        },
                        "DefaultInputApiId": {
                            "Type": "Pass",
                            "Parameters": {
                                "apiId": null
                            },
                            "Next": "PassInputApiId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputAuthorizer",
                    "States": {
                        "CheckInputAuthorizer": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.authorizer",
                                    "IsPresent": true,
                                    "Next": "PassInputAuthorizer"
                                }
                            ],
                            "Default": "DefaultInputAuthorizer"
                        },
                        "PassInputAuthorizer": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.authorizer"
                        },
                        "DefaultInputAuthorizer": {
                            "Type": "Pass",
                            "Parameters": {
                                "Authorizer": null
                            },
                            "Next": "PassInputAuthorizer"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputAwsEndpointRequestId",
                    "States": {
                        "CheckInputAwsEndpointRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.awsEndpointRequestId",
                                    "IsPresent": true,
                                    "Next": "PassInputAwsEndpointRequestId"
                                }
                            ],
                            "Default": "DefaultInputAwsEndpointRequestId"
                        },
                        "PassInputAwsEndpointRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.awsEndpointRequestId"
                        },
                        "DefaultInputAwsEndpointRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "AwsEndpointRequestId": null
                            },
                            "Next": "PassInputAwsEndpointRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputBody",
                    "States": {
                        "CheckInputBody": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.body",
                                    "IsPresent": true,
                                    "Next": "ParallelCheckInputBody"
                                }
                            ],
                            "Default": "DefaultInputBody"
                        },
                        "ParallelCheckInputBody": {
                            "Type": "Parallel",
                            "Branches": [
                                {
                                    "StartAt": "CheckInputBodyImageGenerationConfig",
                                    "States": {
                                        "CheckInputBodyImageGenerationConfig": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.imageGenerationConfig",
                                                    "IsPresent": true,
                                                    "Next": "ParallelCheckInputBodyImageGenerationConfig"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyImageGenerationConfig"
                                        },
                                        "ParallelCheckInputBodyImageGenerationConfig": {
                                            "Type": "Parallel",
                                            "End": true,
                                            "Branches": [
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigNegativeText",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigNegativeText": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Variable": "$.negativeText",
                                                                            "IsPresent": true
                                                                        },
                                                                        {
                                                                            "Variable": "$.negativeText",
                                                                            "IsString": true
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigNegativeText"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigNegativeText"
                                                        },
                                                        "PassInputBodyImageGenerationConfigNegativeText": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "InputPath": "$.negativeText"
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigNegativeText": {
                                                            "Type": "Pass",
                                                            "Next": "PassInputBodyImageGenerationConfigNegativeText",
                                                            "Parameters": {
                                                                "negativeText": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyImageGenerationConfigText",
                                                    "States": {
                                                        "CheckInputBodyImageGenerationConfigText": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Variable": "$.text",
                                                                            "IsPresent": true
                                                                        },
                                                                        {
                                                                            "Variable": "$.text",
                                                                            "IsString": true
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyImageGenerationConfigText"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyImageGenerationConfigText"
                                                        },
                                                        "PassInputBodyImageGenerationConfigText": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "InputPath": "$.text"
                                                        },
                                                        "DefaultInputBodyImageGenerationConfigText": {
                                                            "Type": "Pass",
                                                            "Next": "PassInputBodyImageGenerationConfigText",
                                                            "Parameters": {
                                                                "text": null
                                                            }
                                                        }
                                                    }
                                                }
                                            ],
                                            "InputPath": "$.imageGenerationConfig",
                                            "ResultSelector": {
                                                "negativeText.$": "$[0]",
                                                "text.$": "$[1]"
                                            }
                                        },
                                        "DefaultInputBodyImageGenerationConfig": {
                                            "Type": "Pass",
                                            "Next": "ParallelCheckInputBodyImageGenerationConfig",
                                            "Parameters": {
                                                "imageGenerationConfig": {}
                                            }
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckInputBodyModelId",
                                    "States": {
                                        "CheckInputBodyModelId": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "And": [
                                                        {
                                                            "Variable": "$.modelId",
                                                            "IsPresent": true
                                                        },
                                                        {
                                                            "Variable": "$.modelId",
                                                            "IsString": true
                                                        },
                                                        {
                                                            "And": [
                                                                {
                                                                    "Or": [
                                                                        {
                                                                            "Variable": "$.modelId",
                                                                            "StringEquals": "amazon.titan-image-generator-v1"
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "Next": "PassInputBodyModelId"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyModelId"
                                        },
                                        "PassInputBodyModelId": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.modelId"
                                        },
                                        "DefaultInputBodyModelId": {
                                            "Type": "Pass",
                                            "Parameters": {
                                                "modelId": "amazon.titan-image-generator-v1"
                                            },
                                            "Next": "PassInputBodyModelId"
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckInputBodyTextToImageParams",
                                    "States": {
                                        "CheckInputBodyTextToImageParams": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.textToImageParams",
                                                    "IsPresent": true,
                                                    "Next": "ParallelCheckInputBodyTextToImageParams"
                                                }
                                            ],
                                            "Default": "DefaultInputBodyTextToImageParams"
                                        },
                                        "ParallelCheckInputBodyTextToImageParams": {
                                            "Type": "Parallel",
                                            "Branches": [
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsCfgScale",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsCfgScale": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.cfgScale",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyTextToImageParamsCfgScaleValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsCfgScale"
                                                        },
                                                        "CheckInputBodyTextToImageParamsCfgScaleValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 1.1
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 10
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsCfgScaleValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsCfgScaleValue",
                                                            "InputPath": "$.cfgScale"
                                                        },
                                                        "PassInputBodyTextToImageParamsCfgScaleValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyTextToImageParamsCfgScaleValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 1.1
                                                        },
                                                        "DefaultInputBodyTextToImageParamsCfgScale": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyTextToImageParamsCfgScaleValue",
                                                            "Parameters": {
                                                                "cfgScale": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsHeight",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsHeight": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.height",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyTextToImageParamsHeightValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsHeight"
                                                        },
                                                        "CheckInputBodyTextToImageParamsHeightValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 320
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 1408
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsHeightValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsHeightValue",
                                                            "InputPath": "$.height"
                                                        },
                                                        "PassInputBodyTextToImageParamsHeightValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyTextToImageParamsHeightValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 320
                                                        },
                                                        "DefaultInputBodyTextToImageParamsHeight": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyTextToImageParamsHeightValue",
                                                            "Parameters": {
                                                                "height": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsNumberOfImages",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsNumberOfImages": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.numberOfImages",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyTextToImageParamsNumberOfImagesValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsNumberOfImages"
                                                        },
                                                        "CheckInputBodyTextToImageParamsNumberOfImagesValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 1
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 5
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsNumberOfImagesValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsNumberOfImagesValue",
                                                            "InputPath": "$.numberOfImages"
                                                        },
                                                        "PassInputBodyTextToImageParamsNumberOfImagesValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyTextToImageParamsNumberOfImagesValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 1
                                                        },
                                                        "DefaultInputBodyTextToImageParamsNumberOfImages": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyTextToImageParamsNumberOfImagesValue",
                                                            "Parameters": {
                                                                "numberOfImages": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsSeed",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsSeed": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.seed",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyTextToImageParamsSeedValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsSeed"
                                                        },
                                                        "CheckInputBodyTextToImageParamsSeedValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 0
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 2147483646
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsSeedValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsSeedValue",
                                                            "InputPath": "$.seed"
                                                        },
                                                        "PassInputBodyTextToImageParamsSeedValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyTextToImageParamsSeedValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 0
                                                        },
                                                        "DefaultInputBodyTextToImageParamsSeed": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyTextToImageParamsSeedValue",
                                                            "Parameters": {
                                                                "seed": null
                                                            }
                                                        }
                                                    }
                                                },
                                                {
                                                    "StartAt": "CheckInputBodyTextToImageParamsWidth",
                                                    "States": {
                                                        "CheckInputBodyTextToImageParamsWidth": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "Variable": "$.width",
                                                                    "IsPresent": true,
                                                                    "Next": "CheckInputBodyTextToImageParamsWidthValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsWidth"
                                                        },
                                                        "CheckInputBodyTextToImageParamsWidthValue": {
                                                            "Type": "Choice",
                                                            "Choices": [
                                                                {
                                                                    "And": [
                                                                        {
                                                                            "Not": {
                                                                                "Variable": "$",
                                                                                "IsNull": true
                                                                            }
                                                                        },
                                                                        {
                                                                            "And": [
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "IsNumeric": true
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericGreaterThanEquals": 320
                                                                                },
                                                                                {
                                                                                    "Variable": "$",
                                                                                    "NumericLessThanEquals": 1408
                                                                                }
                                                                            ]
                                                                        }
                                                                    ],
                                                                    "Next": "PassInputBodyTextToImageParamsWidthValue"
                                                                }
                                                            ],
                                                            "Default": "DefaultInputBodyTextToImageParamsWidthValue",
                                                            "InputPath": "$.width"
                                                        },
                                                        "PassInputBodyTextToImageParamsWidthValue": {
                                                            "Type": "Pass",
                                                            "End": true
                                                        },
                                                        "DefaultInputBodyTextToImageParamsWidthValue": {
                                                            "Type": "Pass",
                                                            "End": true,
                                                            "Parameters": 320
                                                        },
                                                        "DefaultInputBodyTextToImageParamsWidth": {
                                                            "Type": "Pass",
                                                            "Next": "CheckInputBodyTextToImageParamsWidthValue",
                                                            "Parameters": {
                                                                "width": null
                                                            }
                                                        }
                                                    }
                                                }
                                            ],
                                            "InputPath": "$.textToImageParams",
                                            "ResultSelector": {
                                                "cfgScale.$": "$[0]",
                                                "height.$": "$[1]",
                                                "numberOfImages.$": "$[2]",
                                                "seed.$": "$[3]",
                                                "width.$": "$[4]"
                                            },
                                            "End": true
                                        },
                                        "DefaultInputBodyTextToImageParams": {
                                            "Type": "Pass",
                                            "Parameters": {
                                                "textToImageParams": {}
                                            },
                                            "Next": "ParallelCheckInputBodyTextToImageParams"
                                        }
                                    }
                                }
                            ],
                            "InputPath": "$.body",
                            "ResultSelector": {
                                "imageGenerationConfig.$": "$[0]",
                                "modelId.$": "$[1]",
                                "textToImageParams.$": "$[2]"
                            },
                            "End": true
                        },
                        "DefaultInputBody": {
                            "Type": "Pass",
                            "Next": "ParallelCheckInputBody",
                            "Parameters": {
                                "body": {}
                            }
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDeploymentId",
                    "States": {
                        "CheckInputDeploymentId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.deploymentId",
                                    "IsPresent": true,
                                    "Next": "PassInputDeploymentId"
                                }
                            ],
                            "Default": "DefaultInputDeploymentId"
                        },
                        "PassInputDeploymentId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.deploymentId"
                        },
                        "DefaultInputDeploymentId": {
                            "Type": "Pass",
                            "Parameters": {
                                "DeploymentId": null
                            },
                            "Next": "PassInputDeploymentId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDomainName",
                    "States": {
                        "CheckInputDomainName": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.domainName",
                                    "IsPresent": true,
                                    "Next": "PassInputDomainName"
                                }
                            ],
                            "Default": "DefaultInputDomainName"
                        },
                        "PassInputDomainName": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.domainName"
                        },
                        "DefaultInputDomainName": {
                            "Type": "Pass",
                            "Parameters": {
                                "DomainName": null
                            },
                            "Next": "PassInputDomainName"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputDomainPrefix",
                    "States": {
                        "CheckInputDomainPrefix": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.domainPrefix",
                                    "IsPresent": true,
                                    "Next": "PassInputDomainPrefix"
                                }
                            ],
                            "Default": "DefaultInputDomainPrefix"
                        },
                        "PassInputDomainPrefix": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.domainPrefix"
                        },
                        "DefaultInputDomainPrefix": {
                            "Type": "Pass",
                            "Parameters": {
                                "DomainPrefix": null
                            },
                            "Next": "PassInputDomainPrefix"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputExtendedRequestId",
                    "States": {
                        "CheckInputExtendedRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.extendedRequestId",
                                    "IsPresent": true,
                                    "Next": "PassInputExtendedRequestId"
                                }
                            ],
                            "Default": "DefaultInputExtendedRequestId"
                        },
                        "PassInputExtendedRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.extendedRequestId"
                        },
                        "DefaultInputExtendedRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "ExtendedRequestId": null
                            },
                            "Next": "PassInputExtendedRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputHttpMethod",
                    "States": {
                        "CheckInputHttpMethod": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.httpMethod",
                                    "IsPresent": true,
                                    "Next": "PassInputHttpMethod"
                                }
                            ],
                            "Default": "DefaultInputHttpMethod"
                        },
                        "PassInputHttpMethod": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.httpMethod"
                        },
                        "DefaultInputHttpMethod": {
                            "Type": "Pass",
                            "Parameters": {
                                "HttpMethod": null
                            },
                            "Next": "PassInputHttpMethod"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputIdentity",
                    "States": {
                        "CheckInputIdentity": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.identity",
                                    "IsPresent": true,
                                    "Next": "PassInputIdentity"
                                }
                            ],
                            "Default": "DefaultInputIdentity"
                        },
                        "PassInputIdentity": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.identity"
                        },
                        "DefaultInputIdentity": {
                            "Type": "Pass",
                            "Parameters": {
                                "Identity": null
                            },
                            "Next": "PassInputIdentity"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputIsCanaryRequest",
                    "States": {
                        "CheckInputIsCanaryRequest": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.isCanaryRequest",
                                    "IsPresent": true,
                                    "Next": "PassInputIsCanaryRequest"
                                }
                            ],
                            "Default": "DefaultInputIsCanaryRequest"
                        },
                        "PassInputIsCanaryRequest": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.isCanaryRequest"
                        },
                        "DefaultInputIsCanaryRequest": {
                            "Type": "Pass",
                            "Parameters": {
                                "IsCanaryRequest": null
                            },
                            "Next": "PassInputIsCanaryRequest"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputPath",
                    "States": {
                        "CheckInputPath": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.path",
                                    "IsPresent": true,
                                    "Next": "PassInputPath"
                                }
                            ],
                            "Default": "DefaultInputPath"
                        },
                        "PassInputPath": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.path"
                        },
                        "DefaultInputPath": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputPath"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputProtocol",
                    "States": {
                        "CheckInputProtocol": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.protocol",
                                    "IsPresent": true,
                                    "Next": "PassInputProtocol"
                                }
                            ],
                            "Default": "DefaultInputProtocol"
                        },
                        "PassInputProtocol": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.protocol"
                        },
                        "DefaultInputProtocol": {
                            "Type": "Pass",
                            "Parameters": {
                                "Protocol": null
                            },
                            "Next": "PassInputProtocol"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestId",
                    "States": {
                        "CheckInputRequestId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestId",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestId"
                                }
                            ],
                            "Default": "DefaultInputRequestId"
                        },
                        "PassInputRequestId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestId"
                        },
                        "DefaultInputRequestId": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestId": null
                            },
                            "Next": "PassInputRequestId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestOverride",
                    "States": {
                        "CheckInputRequestOverride": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestOverride",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestOverride"
                                }
                            ],
                            "Default": "DefaultInputRequestOverride"
                        },
                        "PassInputRequestOverride": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestOverride"
                        },
                        "DefaultInputRequestOverride": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestOverride": null
                            },
                            "Next": "PassInputRequestOverride"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestTime",
                    "States": {
                        "CheckInputRequestTime": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestTime",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestTime"
                                }
                            ],
                            "Default": "DefaultInputRequestTime"
                        },
                        "PassInputRequestTime": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestTime"
                        },
                        "DefaultInputRequestTime": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestTime": null
                            },
                            "Next": "PassInputRequestTime"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputRequestTimeEpoch",
                    "States": {
                        "CheckInputRequestTimeEpoch": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.requestTimeEpoch",
                                    "IsPresent": true,
                                    "Next": "PassInputRequestTimeEpoch"
                                }
                            ],
                            "Default": "DefaultInputRequestTimeEpoch"
                        },
                        "PassInputRequestTimeEpoch": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.requestTimeEpoch"
                        },
                        "DefaultInputRequestTimeEpoch": {
                            "Type": "Pass",
                            "Parameters": {
                                "RequestTimeEpoch": null
                            },
                            "Next": "PassInputRequestTimeEpoch"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputResourceId",
                    "States": {
                        "CheckInputResourceId": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.resourceId",
                                    "IsPresent": true,
                                    "Next": "PassInputResourceId"
                                }
                            ],
                            "Default": "DefaultInputResourceId"
                        },
                        "PassInputResourceId": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.resourceId"
                        },
                        "DefaultInputResourceId": {
                            "Type": "Pass",
                            "Parameters": {
                                "ResourceId": null
                            },
                            "Next": "PassInputResourceId"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputResourcePath",
                    "States": {
                        "CheckInputResourcePath": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.resourcePath",
                                    "IsPresent": true,
                                    "Next": "PassInputResourcePath"
                                }
                            ],
                            "Default": "DefaultInputResourcePath"
                        },
                        "PassInputResourcePath": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.resourcePath"
                        },
                        "DefaultInputResourcePath": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputResourcePath"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputStage",
                    "States": {
                        "CheckInputStage": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.stage",
                                    "IsPresent": true,
                                    "Next": "PassInputStage"
                                }
                            ],
                            "Default": "DefaultInputStage"
                        },
                        "PassInputStage": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.stage"
                        },
                        "DefaultInputStage": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputStage"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputWafResponseCode",
                    "States": {
                        "CheckInputWafResponseCode": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.wafResponseCode",
                                    "IsPresent": true,
                                    "Next": "PassInputWafResponseCode"
                                }
                            ],
                            "Default": "DefaultInputWafResponseCode"
                        },
                        "PassInputWafResponseCode": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.wafResponseCode"
                        },
                        "DefaultInputWafResponseCode": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputWafResponseCode"
                        }
                    }
                },
                {
                    "StartAt": "CheckInputWebAclArn",
                    "States": {
                        "CheckInputWebAclArn": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.webaclArn",
                                    "IsPresent": true,
                                    "Next": "PassInputWebAclArn"
                                }
                            ],
                            "Default": "DefaultInputWebAclArn"
                        },
                        "PassInputWebAclArn": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.webaclArn"
                        },
                        "DefaultInputWebAclArn": {
                            "Type": "Pass",
                            "Parameters": {
                                "Path": null
                            },
                            "Next": "PassInputWebAclArn"
                        }
                    }
                }
            ],
            "Next": "BedrockInvokeModel",
            "ResultSelector": {
                "accountId.$": "$[0]",
                "apiId.$": "$[1]",
                "authorizer.$": "$[2]",
                "awsEndpointRequestId.$": "$[3]",
                "body.$": "$[4]",
                "deploymentId.$": "$[5]",
                "domainName.$": "$[6]",
                "domainPrefix.$": "$[7]",
                "extendedRequestId.$": "$[8]",
                "httpMethod.$": "$[9]",
                "identity.$": "$[10]",
                "isCanaryRequest.$": "$[11]",
                "path.$": "$[12]",
                "protocol.$": "$[13]",
                "requestId.$": "$[14]",
                "requestOverride.$": "$[15]",
                "requestTime.$": "$[16]",
                "requestTimeEpoch.$": "$[17]",
                "resourceId.$": "$[18]",
                "resourcePath.$": "$[19]",
                "stage.$": "$[20]",
                "wafResponseCode.$": "$[21]",
                "webaclArn.$": "$[22]"
            }
        },
        "BedrockInvokeModel": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Parameters": {
                "Body": {
                    "imageGenerationConfig.$": "$.body.imageGenerationConfig",
                    "taskType": "TEXT_IMAGE",
                    "textToImageParams.$": "$.body.textToImageParams"
                },
                "ModelId.$": "$.body.modelId"
            },
            "Next": "CheckOutput"
        },
        "CheckOutput": {
            "Type": "Parallel",
            "Next": "Output",
            "Branches": [
                {
                    "StartAt": "CheckOutputBody",
                    "States": {
                        "CheckOutputBody": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.Body",
                                    "IsPresent": true,
                                    "Next": "ParallelCheckOutputBody"
                                }
                            ],
                            "Default": "DefaultOutputBody"
                        },
                        "ParallelCheckOutputBody": {
                            "Type": "Parallel",
                            "End": true,
                            "Branches": [
                                {
                                    "StartAt": "CheckOutputBodyInputTextTokenCount",
                                    "States": {
                                        "CheckOutputBodyInputTextTokenCount": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.inputTextTokenCount",
                                                    "IsPresent": true,
                                                    "Next": "PassOutputBodyInputTextTokenCount"
                                                }
                                            ],
                                            "Default": "DefaultOutputBodyInputTextTokenCount"
                                        },
                                        "PassOutputBodyInputTextTokenCount": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.inputTextTokenCount"
                                        },
                                        "DefaultOutputBodyInputTextTokenCount": {
                                            "Type": "Pass",
                                            "Next": "PassOutputBodyInputTextTokenCount",
                                            "Parameters": {
                                                "inputTextTokenCount": null
                                            }
                                        }
                                    }
                                },
                                {
                                    "StartAt": "CheckOutputBodyResults",
                                    "States": {
                                        "CheckOutputBodyResults": {
                                            "Type": "Choice",
                                            "Choices": [
                                                {
                                                    "Variable": "$.results",
                                                    "IsPresent": true,
                                                    "Next": "PassOutputBodyResults"
                                                }
                                            ],
                                            "Default": "DefaultOutputBodyResults"
                                        },
                                        "PassOutputBodyResults": {
                                            "Type": "Pass",
                                            "End": true,
                                            "InputPath": "$.results"
                                        },
                                        "DefaultOutputBodyResults": {
                                            "Type": "Pass",
                                            "End": true,
                                            "Parameters": {
                                                "results": null
                                            }
                                        }
                                    }
                                }
                            ],
                            "InputPath": "$.Body",
                            "ResultSelector": {
                                "inputTextTokenCount.$": "$[0]",
                                "results.$": "$[1]"
                            }
                        },
                        "DefaultOutputBody": {
                            "Type": "Pass",
                            "Next": "ParallelCheckOutputBody",
                            "Parameters": {
                                "Body": {}
                            }
                        }
                    }
                },
                {
                    "StartAt": "CheckOutputContentType",
                    "States": {
                        "CheckOutputContentType": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Variable": "$.ContentType",
                                    "IsPresent": true,
                                    "Next": "PassOutputContentType"
                                }
                            ],
                            "Default": "DefaultOutputContentType"
                        },
                        "PassOutputContentType": {
                            "Type": "Pass",
                            "End": true,
                            "InputPath": "$.ContentType"
                        },
                        "DefaultOutputContentType": {
                            "Type": "Pass",
                            "Next": "PassOutputContentType"
                        }
                    }
                }
            ],
            "ResultSelector": {
                "Body.$": "$[0]",
                "ContentType.$": "$[1]"
            }
        },
        "Output": {
            "Type": "Pass",
            "Next": "Success",
            "InputPath": "$.Body"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}
